body {
    font-family: "Times New Roman", Times, serif;
    padding-left: 100px;
    padding-right: 100px;
  }
  #topic {
    font-size: 50px;
    text-align: center;
    color: black;
    background-color: #c8b6a6;
    border-bottom: 2px solid black;
  }
  .button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
  }
  p {
    font-size: 19px;
  }
  .image-rows {
    align-items: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  