body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding-inline-start: 100px;
  padding-inline-end: 100px;
}
header {
  margin-top: 0;
}
.logo-img {
  width: 170px;
  height: 100%;
}
.header-shop {
  display: flex;
  justify-content: center;
}
.header-shop p {
  margin: 0;
  font-size: 15px;
}
#topic {
  font-size: 50px;
  text-align: center;
  color: black;
  background-color: #c8b6a6;
  border-bottom: 2px solid black;
  margin-top: 0%;
}
.button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}
p {
  font-size: 19px;
}
.image-rows {
  align-items: center;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.container {
  margin: 100px 60px;
  padding: 20px;
  border: 1px solid none;
  height: auto;
  background-color: antiquewhite;
}
a img {
  width: 400px;
  height: 300px;
  margin-left: 20px;
}
.filter-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
